swagger: '2.0'
info:
  title: LaunchDarkly REST API
  description: Build custom integrations with the LaunchDarkly REST API
  termsOfService: https://launchdarkly.com/terms
  contact:
    name: LaunchDarkly Support
    url: https://support.launchdarkly.com
    email: support@launchdarkly.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 2.0.0
host: app.launchdarkly.com
basePath: /api/v2
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  Token:
    type: apiKey
    name: Authorization
    in: header
    description: https://app.launchdarkly.com/settings#/tokens
security:
  - Token: []
paths:
  /:
    get:
      summary: Get the root resource
      operationId: getRoot
      tags:
        - root
      responses:
        '200':
          $ref: '#/responses/Root200'
        '401':
          $ref: '#/responses/Standard401'
  /webhooks:
    get:
      summary: Fetch a list of all webhooks
      operationId: getWebhooks
      tags:
        - webhooks
      responses:
        '200':
          description: Webhooks response
          schema:
            $ref: '#/definitions/Webhooks'
        '401':
          $ref: '#/responses/Standard401'
    post:
      summary: Create a webhook
      operationId: postWebhook
      tags:
        - webhooks
      parameters:
        - $ref: '#/parameters/WebhookPostRequest'
      responses:
        '201':
          $ref: '#/responses/Standard201'
        '400':
          $ref: '#/responses/Standard400'
        '401':
          $ref: '#/responses/Standard401'
  /webhooks/{webhookId}:
    get:
      summary: Get a webhook by ID
      operationId: getWebhook
      parameters:
        - $ref: '#/parameters/WebhookId'
      responses:
        '200':
          $ref: '#/responses/Webhooks200'
        '401':
          $ref: '#/responses/Standard401'
        '404':
          $ref: '#/responses/Standard404'
    patch:
      summary: Modify a webhook by ID
      operationId: patchWebhook
      parameters:
        - $ref: '#/parameters/WebhookId'
        - $ref: '#/parameters/WebhookPatchRequest'
      responses:
        '400':
          $ref: '#/responses/Standard400'
        '401':
          $ref: '#/responses/Standard401'
        '404':
          $ref: '#/responses/Standard404'
        '409':
          $ref: '#/responses/Standard409'
    delete:
      summary: Delete a webhook by ID
      operationId: deleteWebhook
      parameters:
        - $ref: '#/parameters/WebhookId'
      responses:
        '204':
          $ref: '#/responses/Standard204'
        '401':
          $ref: '#/responses/Standard401'
        '404':
          $ref: '#/responses/Standard404'
definitions:
  Webhook:
    properties:
      _links:
        $ref: '#/definitions/Links'
      _id:
        type: string
      url:
        type: string
      secret:
        type: string
      on:
        type: boolean
      tags:
        type: array
        items: 
          type: string
  Webhooks:
    properties:
      _links:
        $ref: '#/definitions/Links'
      items:
        type: array
        items:
          $ref: '#/definitions/Webhook'
  Link:
    properties:
      href:
        type: string     
      type:
        type: string
  Links:
    properties:
      'parent':
        $ref: '#/definitions/Link'
      'self':
        $ref: '#/definitions/Link'
responses:
  Standard201:
    description: Resource created
  Standard204:
    description: Action completed successfully
  Standard400:
    description: Invalid request body
  Standard401:
    description: Invalid access token
  Standard404:
    description: Invalid resource specifier
  Standard409:
    description: Status conflict
  Root200:
    description: A list of links to available resources in the API
    schema:
      $ref: '#/definitions/Links'
  Webhooks200:
    description: Webhook response
    schema:
      $ref: '#/definitions/Webhook'
parameters:
    WebhookId:
      name: webhookId
      in: path
      required: true
      description: The webhook ID
      type: string
    WebhookPostRequest:
      name: webhookPost
      in: body
      required: true
      description: New webhook
      schema:
        properties:
          url:
            type: string
          secret:
            type: string
          sign: 
            type: boolean
          on: 
            type: boolean
        required:
          - url
          - sign
          - on
    WebhookPatchRequest:
      name: webhookPatch
      in: body
      required: true
      description: Webhook delta
      schema:
        properties:
          op:
            type: string
          path:
            type: string
          value:
            type: boolean
        required:
          - op
          - path
          - value