Environments:
  post:
    summary: Create a new environment in a specified project with a given name, key, and swatch color.
    operationId: postEnvironment
    parameters:
      - $ref: '#/parameters/ProjectKey'
      - $ref: '#/parameters/EnvironmentPostRequest'
    responses:
      '201':
        $ref: '#/responses/Environment2xx'
      '400':
        $ref: '#/responses/Standard400'
      '401':
        $ref: '#/responses/Standard401'
      '409':
        $ref: '#/responses/Standard409'
    tags:
      - Environments
Environment:
  get:
    summary: Get an environment given a project and key.
    operationId: getEnvironment
    parameters:
      - $ref: '#/parameters/ProjectKey'
      - $ref: '#/parameters/EnvironmentKey'
    responses:
      '200':
        $ref: '#/responses/Environment2xx'
      '401':
        $ref: '#/responses/Standard401'
      '404':
        $ref: '#/responses/Standard404'
    tags:
      - Environments
  patch:
    summary: Modify an environment by ID.
    operationId: patchEnvironment
    parameters:
      - $ref: '#/parameters/ProjectKey'
      - $ref: '#/parameters/EnvironmentKey'
      - $ref: '#/parameters/PatchRequest'
    responses:
      '200':
        $ref: '#/responses/Environment2xx'
      '400':
        $ref: '#/responses/Standard400'
      '401':
        $ref: '#/responses/Standard401'
      '404':
        $ref: '#/responses/Standard404'
      '409':
        $ref: '#/responses/Standard409'
    tags:
      - Environments
  delete:
    summary: Delete an environment in a specific project.
    operationId: deleteEnvironment
    parameters:
      - $ref: '#/parameters/ProjectKey'
      - $ref: '#/parameters/EnvironmentKey'
    responses:
      '204':
        $ref: '#/responses/Standard204'
      '401':
        $ref: '#/responses/Standard401'
      '404':
        $ref: '#/responses/Standard404'
    tags:
      - Environments
ResetSDKKey:
  post:
    summary: Reset an environment's SDK key with an optional expiry time for the old key.
    operationId: resetEnvironmentSDKKey
    parameters:
      - $ref: "#/parameters/ProjectKey"
      - $ref: "#/parameters/EnvironmentKey"
      - $ref: "#/parameters/EnvironmentSDKKeyExpiry"
    responses:
      "200":
        $ref: "#/responses/Environment2xx"
      "404":
        $ref: "#/responses/Standard404"
      '409':
        $ref: '#/responses/Standard409'
    tags:
      - Environments
ResetMobileKey:
  post:
    summary: Reset an environment's mobile key. The optional expiry for the old key is deprecated for this endpoint, so the old key will always expire immediately.
    operationId: resetEnvironmentMobileKey
    parameters:
      - $ref: "#/parameters/ProjectKey"
      - $ref: "#/parameters/EnvironmentKey"
      - $ref: "#/parameters/EnvironmentMobileKeyExpiry"
    responses:
      "200":
        $ref: "#/responses/Environment2xx"
      "404":
        $ref: "#/responses/Standard404"
      "409":
        $ref: '#/responses/Standard409'
    tags:
      - Environments
